<h1> Index of Our Pizzas and Prices </h1>

<p><%= link_to 'New Pizza User', new_users_path %></p>
<p><%= link_to 'Login for your pizza', new_sessions_path %></p>


<% if session[:user_id] %>
  <p><%= link_to 'Logout', sessions_path %></p>
  <p>Your balance is: $X</p>
<% else %>
  Please login to see your balance.
<% end %>

<% @products.each do |product| %>

<ul>
  <li><%=link_to "#{product.name}", "/products/#{product.id}" %>
    <br>


      <%= product.description %>  <br/>
      Price: <%= product.price_in_dollars %>
  </li>
</ul>
<% end %>
